.detail_playlist_table tr td{
	padding:5px;
	float:left;
}

.share_playlist{
	padding:10px;
	background-color:#f2f9dc;
	border-top:1px solid #ccc;
	padding-bottom:50px;
	margin:10px;
}

.share_playlist h4{
	float:left;
	clear:both;
	font-size:12px;
}

.icon_share{
	margin-top:10px;
	float:left;
}
