/* 
    Document   : mobile-style
    Created on : 22 Nov 11, 13:42:02
    Author     : Hp
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}
@font-face {
    font-family: 'ProximaNovaRegular';
    src: url('proximanova-regular-webfont.eot');
    src: url('proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('proximanova-regular-webfont.woff') format('woff'),
         url('proximanova-regular-webfont.ttf') format('truetype'),
         url('proximanova-regular-webfont.svg#') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {width:100%; height:auto;font-family: sans-serif; font-size: small; margin:0 auto; padding:0;}
/*body {width:100%; height:auto;font-family: 'ProximaNovaRegular'; font-size: small; margin:0 auto; padding:0;}*/
.left {float:left;}
.right {float:right;}
.clear {clear:both;}
a {text-decoration:none;}
p {margin:0 auto;}
p span{
  color:#d29e00;
}
#header {
    text-align:center;	
    height:25px;
    background:url(../images/mobile/bg-head-login2.png) repeat-x left center; 	
}

#content{

}
#content .getin{
	padding:0 20px;
}
#content .getin form,#content .getin form table{
	width:100%;
	
}
#content .support{
   background: none repeat scroll 0 0 #000000;
    padding: 0;
    text-align: center;
}
#content .rate{}
#content .rate span{color:#737373; float:left;  padding-right: 10px; font-style:italic;}
#content .rate img{float:left;  padding-top: 3px;}
#content .menu{padding:8px 20px;}
#content .menu a{
	
	padding:4px 5px;
	color:#474747;
	font-size: small;
}
#content .menu a:hover,#content .menu a.active{
	background:#d3d3d3;
	border:1px solid  #c4c4c4;
    border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

#content .note{
	background:#a4d640;
	color:#fff;
    border-top: 1px solid #8CB636;
}

#content .note span{
	background:#ff0000; 
	border:1px #d4651e solid; 
	margin-right:10px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
#content .notelist{}
#content .notelist ul{
	margin: 0;
  padding: 0;
}
#content .notelist ul li{
	color:#9b9b9b;
	list-style:none;
}
#content .notelist ul li a{
	color:#48c1ff;
	font-style:italic;
}

#content .mood{
	color:#6c6c6c;
}
#content .mood form{padding:5px 0;}
input.text{height:16px; width:100%; border:1px solid #b6b6b6;}
#content .mood form i{
	color:#9c9c9c;
	font-size:8pt;
	display:block;
}
#content .note .msg{
  background: url(../images/mobile/mail-icon.png) no-repeat left center;
  padding-left: 26px;

}
input.go{
	width:20px;
	height:16px;
	background:url(../images/mobile/btn-go.png) no-repeat center center;
	border-top:1px solid #b6b6b6;
	border-bottom:1px solid #b6b6b6;
	border-right:1px solid #b6b6b6;
	border-left:none;
	cursor:pointer;
}

input.btnshare{
	width:50px;
	height:20px;
	border:none;
    color:#fff;
    margin-left:2px;
	/*background:#A4D63F; color:#fff;*/
	background:#A4D63F;
}

input.btnsend{
	width:52px;
	height:20px;
	border:none;
	background:url(../images/mobile/btn-send.png) no-repeat center center;
}

input.btnsubmit{
	width:69px;
	height:21px;
	border:none;
	background:url(../images/mobile/btn-submit.png) no-repeat center center;
}
.btnend{
   	width:36px;
	height:17px;
	border:none;
	background:url(../images/mobile/btn-end.png) no-repeat center center;
}

.btnok{
   	width:50px;
	height:18px;
	border:none;
	background:url(../images/mobile/btn-ok.png) no-repeat center center;
}

.btnupload{
   	width:51px;
	height:17px;
	border:none;
	background:url(../images/mobile/btn-upload.png) no-repeat center center;
}
.btnnew{
  background:#fff;
  border: 1px #bababa solid;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  color:#5a5a5a;
  text-align: center;
  width:93px;
  height:19px;
  font-size:10px;
}

.btnrecom{
  background:#d3d3d3;
  border: 1px #bababa solid;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  color:#5a5a5a;
  text-align: center;
  width:93px;
  height:19px;
  font-size:10px;
}

.btndowd{
  background: url(../images/mobile/btn-download.png) no-repeat left center;
  height:17px;
  width:59px;
  border:none;
}

.w5{width:5%;}
.w10{width:10%;}
.w15{width:15%;}
.w20{width:20%;}
.w25{width:25%;}
.w30{width:30%;}
.w35{width:35%;}
.w40{width:40%;}
.w45{width:45%;}
.w50{width:50%;}
.w55{width:55%;}
.w60{width:60%;}
.w65{width:65%;}
.w70{width:70%;}
.w75{width:75%;}
.w85{width:85%;}
.w95{width: 95%;}
.w100{width: 100%;}

.pad1020{
	padding:10px 20px;
}
.pad520{
  padding: 5px 20px;
}
.pad220{
  padding:2px 20px;
}.pad1020{
	padding:10px 20px;
}
.martop10{
  margin-top:10px;
}

.mar20_0{
  margin: 20px 0;
}
.mar0_10_0{
  margin-right:10px;
}

.mar10_0{
  margin: 10px 0;
}

.h100{
  height: 100px;
}
.bgx{background:#d3d3d3;
border-top: 1px solid #B4B4B4;}


.howto{
  border-top: 1px #b8b8b8 solid;
  border-bottom: 1px #b8b8b8 solid;
  background:#555555;
}

.msgmenu{
  border-bottom: 1px #b8b8b8 solid;
  padding:10px 0 3px;
}

.msgmenu a{
  padding-left: 20px;
}

.msgmenu .inbox{
  background: url(../images/mobile/inbox-icon.png) no-repeat left center;
}

.msgmenu .trash{
  background: url(../images/mobile/trash-icon.png) no-repeat left center;
}

.msgmenu .sent{
  background: url(../images/mobile/sent-icon.png) no-repeat left center;
}
.msgmenu .newmsg{
  background: url(../images/mobile/newmsg-icon.png) no-repeat left center;
}
.isipesan{
  padding-left:10px;
  padding-bottom: 20px;
  font-size: small;
}
.chatlist{
  color: #626262;
  font-size: small;
}
/*.chatlist div{
  padding:5px 20px;
}*/

.odd{
    background:#fafafa;
    padding:5px 10px;
}
.even{
    background:#edeef0;
    padding:5px 10px;
}
input.sublogin{
	width:60px;
	height:21px;
	background:url(../images/mobile/btn-login.png) no-repeat center center;
	border:none;
}
#musiclist{
  margin: 0;
  padding:0;
}
#musiclist li{list-style: none;float:left;width:25%;padding:6px 0;}
#musiclist li input{
  margin: 0 2px 0 0;
}

#musiclist li label{
  color:#5a5a5a;
  font-size: 11px;
  position: relative;
  top: -3px;
}

.ivf{
  background: url(../images/mobile/invite-icon.png) no-repeat center left;
  padding-left:24px;
}
.frec{
  background: url(../images/mobile/fren_rec.png) no-repeat center left;
  padding-left:24px;
  padding-top: 4px;
}

.freq{
  background: url(../images/mobile/fren_req.png) no-repeat center left;
  padding-left:24px;
  padding-top: 4px;
}
.fren{
  background: url(../images/mobile/fren.png) no-repeat center left;
  padding-left:24px;
  padding-top: 4px;
}
.art{
  background: url(../images/mobile/star-art.png) no-repeat center left;
  padding-left:24px;
  padding-top: 4px;
}
.info{
  background: url(../images/mobile/info-icon.png) no-repeat center left;
  padding-left: 24px;
  padding-top: 2px;
}

.basic{
  background: url(../images/mobile/basic-info-icon.png) no-repeat center left;
  padding-left: 24px;
}

.hobies{
  background: url(../images/mobile/hoby-info.png) no-repeat center left;
  padding-left: 24px;
}
.message{
  background: url(../images/mobile/mail-icon-2.png) no-repeat center left;
  padding-left: 24px;
  padding-top: 2px;
}

.image{
  background: url(../images/mobile/img-share1.png) no-repeat center left;
  padding-left: 24px;
  padding-top: 2px;
}

.wall{
  background: url(../images/mobile/cmn-icon.png) no-repeat center left;
  padding-left: 24px;
  padding-top: 2px;
}

.notes{
  background: url(../images/mobile/img-share4.png) no-repeat center left;
  padding-left: 24px;
  padding-top: 2px;
}

.video{
  background: url(../images/mobile/img-share2.png) no-repeat center left;
  padding-left: 24px;
  padding-top: 2px;
}

.song{
  background: url(../images/mobile/song-icon.png) no-repeat center left;
  padding-left: 24px;
  padding-top: 2px;
}

.contact{
  background: url(../images/mobile/user-contact-icon.png) no-repeat center left;
  padding-left:24px;
    padding-top: 3px;
}
.getfren{
  background: url(../images/mobile/getfriends-icon.png) no-repeat center left;
  padding-left:24px;
  padding-top: 4px;
}
.listfren{

}

.listfren ul{
  padding:10px 0;
  margin:0;
}
.listfren ul li{
  list-style:none;
  padding:10px;
}
.prev{
 color:#6d6e71;
 padding:0 0 0 20px;
}
.prev ul li{
  list-style:none;
  padding:0;
  display:inline-table;
  width: 33%;
}
.listfren ul li a{
  color: #333333;
}
.listfren ul li:hover a,.listfren ul li.active a{
  color: #fff;
}
.listfren ul li:hover,.listfren ul li.active{
  background: #99cc33;
  border-radius:6px;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
}

.prev ul li:hover {
    background: none;
}
.file_input_textbox
{
	float: left;
    width: 35%;
    height:17px;
}

.file_input_div
{
	position: relative;
	width: 53px;
	height: 23px;
	overflow: hidden;
    float:left;
}


.file_input_button
{
	position: absolute;
	top: 0px;
    right:0;
	background-color: #a4d63f;
	color: #FFFFFF;
	border: none;
    font-size: small;
    padding: 3px 0;

}

.file_input_hidden
{
	position: absolute;
	right: 0px;
	top: 0px;
	opacity: 0;

	filter: alpha(opacity=0);
	-ms-filter: "alpha(opacity=0)";
	-khtml-opacity: 0;
	-moz-opacity: 0;
}

.listfren ul li label{
  color:#000;
  padding-right:10px;
}

.listfren label {
    margin-top: 2px;
}

.listfren ul li input{
  border: medium none;
  color: #6D6E71;
  background:none;
  font-size: 11px;
}

.result{
  background: url(../images/mobile/find.png) no-repeat left center;
  padding-left:26px;
}
ul.track{
  padding:0;
  margin:0;
}
ul.track li{
  list-style:none;
  padding: 0 0 20px 0;
}

label,input.text{
  color: #5A5A5A;
  width:100%;
  display: block;
}
label{
  margin-top: 10px;
  font-weight: bold;
}

select{
  margin:0 0 10px 0;
}
input.signup{
	width:69px;
	height:21px;
	background:url(../images/mobile/signup.png) no-repeat center center;
	border:none;
}
input.cancel{
	width:69px;
	height:21px;
	background:url(../images/mobile/cancel.png) no-repeat center center;
	border:none;
}
input.forgot{
	width:127px;
	height:21px;
	background:url(../images/mobile/sendpwd.png) no-repeat center center;
	border:none;
    float:right;
    margin-top:15px;
}