/* general */
body.general{
  background:#fff;
}
#header_general {
    width: 100%;
    background: #b4d64d url(../images/general/header_bg.jpg) repeat-x; 
/*    background: -moz-linear-gradient(top,  #b4d64d 0%, #a5c956 100%);  FF3.6+ 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4d64d), color-stop(100%,#a5c956));  Chrome,Safari4+ 
    background: -webkit-linear-gradient(top,  #b4d64d 0%,#a5c956 100%);  Chrome10+,Safari5.1+ 
    background: -o-linear-gradient(top,  #b4d64d 0%,#a5c956 100%);  Opera 11.10+ 
    background: -ms-linear-gradient(top,  #b4d64d 0%,#a5c956 100%);  IE10+ 
    background: linear-gradient(top,  #b4d64d 0%,#a5c956 100%);  W3C 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4d64d', endColorstr='#a5c956',GradientType=0 ); /* IE6-9 */
    height: 60px; /*Edit by Nope Tgl 13-12-2011*/
    margin-top: 0px;
    margin-bottom: 5px; /*Edit by Nope Tgl 13-12-2011*/
    display: block;
}
  #header_general .main-header input[type="text"], #header_general .main-header input[type="password"]{
    width:113px;
  }
  .remember_me{
    float:left;
    color:#fff;
    margin-top:1px;
  }
  .forgot_password{
    margin-left:28px;
  }
  a.forgot_password{ color:#fff;}
  a.forgot_password:hover{ color:#444;}
.align_r{
  text-align:right;  
} 
.bg_footer{
  background:#666666;
  padding:10px 0 20px 0;
  color:#fff;
}
  .bg_footer a{
    color:#fff;
  }
.bordered{
  border:1px solid #f0f0f0;
}
.pad_t_10{ padding-top:10px;}

.bg_grey{
  background:#f0f0f0;
}
ul.tab_home{
  float:left;
  margin:5px 0 0 0;
  padding:0;
}
  ul.tab_home li{
    list-style-type:none;
    float:left;
    margin:0 70px 0 0;
    padding:0;
  }
  
/* tab_home sprite gilangaramadan 12Des11 */
a .tab_artist:hover{
	background: url(../images/general/layout/sprite_artist.png) no-repeat top left;
	background-position: 0 0; 
	width: 65px; 
	height: 16px;
}
a .tab_artist:active{
	background: url(../images/general/layout/sprite_artist.png) no-repeat top left;
	background-position: 0 0; 
	width: 65px; 
	height: 16px;
}
a .tab_artist{
	background: url(../images/general/layout/sprite_artist.png) no-repeat top left;
	background-position: 0 -26px; 
	width: 65px; 
	height: 16px;
}

a .tab_brand:hover{
	background: url(../images/general/layout/sprite_brand.png) no-repeat top left;
	background-position: 0 0; 
	width: 75px; 
	height: 18px;
}
a .tab_brand:active{
	background: url(../images/general/layout/sprite_brand.png) no-repeat top left;
	background-position: 0 0; 
	width: 75px; 
	height: 18px;
}
a .tab_brand{
	background: url(../images/general/layout/sprite_brand.png) no-repeat top left;
	background-position: 0 -28px; 
	width: 75px; 
	height: 18px;
}

a .tab_fans:hover{
	background: url(../images/general/layout/sprite_fans.png) no-repeat top left;
	background-position: 0 0; 
	width: 66px; 
	height: 20px;
}
a .tab_fans:active{
	background: url(../images/general/layout/sprite_fans.png) no-repeat top left;
	background-position: 0 0; 
	width: 66px; 
	height: 20px;
}
a .tab_fans{
	background: url(../images/general/layout/sprite_fans.png) no-repeat top left;
	background-position: 0 -30px; 
	width: 66px; 
	height: 20px;
}

/* end tab_home sprite */

/* banner slider by gilangaramadan 12Des11 */
#slider {
    width: 420px; /* important to be same as image width */      /*Edit by Nope 13-12-2011*/
    height: 200px; /* important to be same as image height */    /*Edit by Nope 13-12-2011*/
    position: relative; /* important */
	overflow: hidden; /* important */
	margin: 5px;
}
#sliderContent {
    width: 430px; /* important to be same as image width or wider */
    position: absolute;
	top: 0;
	margin-left: 0;
	/* padding-top: 10px;*/
}
.sliderImage {
    float: left;
    position: relative;
	display: none;
}
.sliderImage span {
    position: absolute;
	font: 10px/15px Arial, Helvetica, sans-serif;
    padding: 10px 13px;
    width: 384px;
    background-color: #000;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
	-khtml-opacity: 0.7;
    opacity: 0.7;
    color: #fff;
    display: none;
}
.clear {
	clear: both;
}
.sliderImage span strong {
    font-size: 14px;
}

/*.top {
	top: 0;
	left: 0;
}
.bottom {
	bottom: 0;
    left: 0;
}
changed by gilangaramadan 26Des11 */
ul { list-style-type: none;}

/* end banner_right */

/* test active_bar 12Des11 gilangaramadan*/
a .count_see{
	background: url(../images/general/layout/sprite_count_see.png) no-repeat top left;
	background-position: 0 1px; 
	width: 16px; 
	height: 12px;
	text-decoration: none;
}
a .count_see:hover{
	background: url(../images/general/layout/sprite_count_see.png) no-repeat top left;
	width: 16px; 
	height: 11px;
	background-position: 0 -10px; 
	text-decoration: none;
}

a .count_comment{
	background: url(../images/general/layout/sprite_count_comment.png) no-repeat top left;
	background-position: 0 2px; 
	width: 12px; 
	height: 12px;
	text-decoration: none;
}
a .count_comment:hover{
	background: url(../images/general/layout/sprite_count_comment.png) no-repeat top left;
	width: 12px; 
	height: 11px;
	background-position: 0 -10px; 
	text-decoration: none;
}

a .count_flag{
	background: url(../images/general/layout/sprite_count_flag.png) no-repeat top left;
	background-position: 0 3px; 
	width: 20px; 
	height: 13px;
	text-decoration: none;
}
a .count_flag:hover{
	background: url(../images/general/layout/sprite_count_flag.png) no-repeat top left;
	background-position: 0 -8px; 
	width: 20px; 
	height: 13px;
	text-decoration: none;
}

.uibutton-group {
	list-style: none;
	padding: 0;
	margin: 0;
	display: inline;
}

.uibutton-group li {
	float: left;
	padding: 0;
	margin: 0;
}

/* endTest */

/* button play and download by gilangaramadan 12Des11 */
a .bottom_play:hover{
	background: url(../images/general/layout/sprite_bottom_play.png) no-repeat top left;
	background-position: 0 0; 
	width: 22px; 
	height: 16px;
}
a .bottom_play{
	background: url(../images/general/layout/sprite_bottom_play.png) no-repeat top left;
	background-position: 0 -17px; 
	width: 22px; 
	height: 16px;
}
a .bottom_download{
	background: url(../images/general/layout/sprite_bottom_download.png) no-repeat top left;
	background-position: 0 0; 
	width: 57px; 
	height: 16px;
	margin: -16px 0 0 24px;
}
a .bottom_download:hover{
	background: url(../images/general/layout/sprite_bottom_download.png) no-repeat top left;
	background-position: 0 -17px; 
	width: 57px; 
	height: 16px;
	margin: -16px 0 0 24px;
}
/* endButton */

/* warna-warna by gilangaramadan 12Des11 */
.biru {
	color: #99b4d1;
}
.biruLite {
	color: #99c1e4;
}
.ijoText {
	color: #65920b;
}
.abuMonyet {
	color: #333333; /*update 26Des11*/
}
/* endWarna */
/* popup create artis by gilangaramadan 13Des11 */
#blanket {
opacity: 0.65;
filter:alpha(opacity=65);
position:absolute;
z-index: 9001;
top:0px;
left:0px;
width:100%;
}
#popUpDiv {
position:absolute;
background-color:rgba(255, 255, 255, 0.9);
z-index: 9002;
-webkit-box-shadow: 2px 2px 7px 3px rgba(160, 160, 160, 0.8);
-moz-box-shadow: 2px 2px 7px 3px rgba(160, 160, 160, 0.8);
box-shadow: 2px 2px 7px 3px rgba(160, 160, 160, 0.8); 
width: 400px; 
height: 480px;
margin-top: -200px;
margin-left: 200px;
padding: 13px;
border:2px solid #b8b8b8;
}

#popUpDiv hr {
	margin: -18px 0 0 -10px;
	width: 420px;
}

/* update by gilangaramadan */
#file_browse_wrapper {
    width: 109px;
    height: 27px;
    background: url(../images/general/btn_upload.png) 0 0 no-repeat;
    border:none;
    overflow:hidden;
}
#file_browse_wrapper:hover {
    background: url(../images/general/btn_upload_hover.png) 0 0 no-repeat;
}
/* endUpdate */

#file_browse{
    margin-left:-145px;
    opacity:0.0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}

.bg_upload {
	background:#f2f9da;
	color:#141414;
	border-color:#e4e8d8;
}

/* endPopUp */

/* style for position and button in friend request by gilangaramadan 26Des2011 */
.left {
	float: left !important;
}
p .left {
	margin: 1.5em 1.5em 1.5em 0;
	padding: 0;
}
.right {
	float: right !important;
}
p .right {
	margin: 1.5em 0 1.5em 1.5em;
	padding: 0;
}
.small {
	font-size:.8em;
	margin-bottom:1.875em;
	line-height:1.875em;
}
.large {
	font-size:1.2em;
	line-height:2.5em;
	margin-bottom:1.25em;
}
.first {
	margin-left:0;
	padding-left:0;
}
.last {
	margin-right:0;
	padding-right:0;
}
.top {
	margin-top:0;
	padding-top:0;
}
.bottom {
	margin-bottom:0;
	padding-bottom:0;
}

.confirm_friend {
	margin-top:1em;
	width:73px;
	height:29px;
	color: #ffffff;
	text-indent:-9999px;
	overflow:hidden;
	border:0;
	background:url(../images/general/btn_confirm.png) no-repeat 0 0;
	display:block;
	cursor:pointer !important; cursor:hand;
}
.confirm_friend:hover {
	background:url(../images/general/btn_confirm_hover.png) no-repeat 0 0;
}
.not_friend {
	margin-top:11px;
	width:72px;
	height:29px;
	color: #ffffff;
	text-indent:-9999px;
	overflow:hidden;
	border:0;
	background:url(../images/general/btn_notnow.png) no-repeat 0 0;
	display:block;
	cursor:pointer !important; cursor:hand;
}
.not_friend:hover {
	background:url(../images/general/btn_notnow_hover.png) no-repeat 0 0;
}

.remove_friend {
	margin-top:1em;
	width:116px;
	height:27px;
	color: #ffffff;
	text-indent:-9999px;
	overflow:hidden;
	border:0;
	background:url(../images/general/btn_remove_friend.png) no-repeat 0 0;
	display:block;
	cursor:pointer !important; cursor:hand;
}
.remove_friend:hover {
	background:url(../images/general/btn_remove_friend_hover.png) no-repeat 0 0;
}

/* endPosition */
.updated_title{
  float:left;
  margin-top:8px;
  clear:both;
  display:block;
  /*background:#f0f0f0;*/         /*Edit by Nope Tgl 13-12-2011*/
  width:100%;
  /*padding:8px 0 3px 22px;*/     /*Edit by Nope Tgl 13-12-2011*/
  /*border:1px solid #e0e0e0;*/   /*Edit by Nope Tgl 13-12-2011*/
  /*border-radius:2px;*/          /*Edit by Nope Tgl 13-12-2011*/
}
ul.home_updates{
  float:left;
  margin:15px 0 0 15px;
  padding:0;
}
  ul.home_updates li{
    margin:0;
    padding:0;
    list-style-type:none;
  }
  ul.home_updates li img{
    float:left;
    border:1px solid #f0f0f0;
  } 
    .update_time{
      float:right;
      color:#c0c0c0;
    }
    .update_info{
      float:left;
      width:350px;
      margin-left:15px;
    }
    .update_info h4{
      font-weight:normal;
      font-size:14px;
      margin:0;
    }
    .update_info h4 a{
      color:#3399ff;
    }
    .update_info p{
      font-size:12px;
      color:#444;  
    }
    .brief_info{ margin:-10px 0 0 0; padding:0; color:#a0a0a0;}
    .brief_info h5{ margin:0; padding:0; font-size:11px; font-weight:normal; }
    .brief_info img{ float:left; margin-right:15px; }
    .brief_info p{ font-size:11px; color:inherit;}
      .brief_detail{
        float:left;
        width:158px;
      }
.join_popmaya{
  border:1px solid #d0d0d0;
  background:#f0f0f0;
  text-align:center;
}
  .form_reg_home{
    text-align:left;
    border-top:1px solid #d0d0d0;
    padding:15px 0 15px 25px;
    font-size:13px;
    color:#999;
  }
    .form_reg_home label{ 
      float:left;
      width:100px;
    }
    .form_reg_home input[type="text"], .form_reg_home input[type="password"]{
      width:300px;  
      margin-bottom:10px;
      border:1px solid #d0d0d0;
      padding:3px;
      height:16px;
    } 
    .cb_join{
      float:left;
      width:265px;
      margin:10px 0;
    }
   .btn_join {
    -moz-font-feature-settings: normal;
    -moz-font-language-override: normal;
    background: url("../images/general/layout/join.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    color: #FFFFFF;
    float: left;
    font-family: Myriad Pro;
    font-size: 20pt;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 45px;
    margin: 15px 0 18px;
    padding: 6px 10px 10px;
    width: 142px;
    }
    .btn_join:hover{ cursor: hand !important; background:transparent url(../images/general/layout/join-hover.png) no-repeat;}
    .cb_newsletter{
      float:left;
      margin-top:8px;
    }
    
    .btn_download {
        -moz-font-feature-settings: normal;
        -moz-font-languange-override: normal;
        
    }

	/* Tooltip by gilangaramadan */
	#tooltip {
		position:absolute;
		z-index:9999;
		color:#000;
		font-size:10px;
		max-width:400px;
		-webkit-box-shadow: 2px 2px 9px 1px rgba(128, 128, 128, 0.8);
		-moz-box-shadow: 2px 2px 9px 1px rgba(128, 128, 128, 0.8);
		box-shadow: 2px 2px 9px 1px rgba(128, 128, 128, 0.8); 
	}
	 
	#tooltip .tipHeader {
		height:35px;
		background-color:#d2f56e;
	}
	 
	/* IE hack */
	*html #tooltip .tipHeader {margin-bottom:-6px;}
	 
	#tooltip .tipBody {
		background-color:#ffffff;
		padding:5px;
		min-height:180px;
	}
	 
	#tooltip .tipFooter {
		height:35px;
		background-color:#e0f0c1;
	}
/* form forgot password by gilangaramadan 16Des11 */
/* make rounded outline */
.xtop, .xbottom {
    background: none repeat scroll 0 0 transparent;
    display: block;
    font-size: 1px;
	margin: 0 25px 0 25px;
}
.xb1, .xb2, .xb3, .xb4 {
    display: block;
    overflow: hidden;
}
.xb1, .xb2, .xb3 {
    height: 1px;
}
.xb2, .xb3, .xb4 {
    background: none repeat scroll 0 0 #ffffff;
    border-left: 1px solid #b1d24e;
    border-right: 1px solid #b1d24e;
}
.xb1 {
    background: none repeat scroll 0 0 #b1d24e;
    margin: 0 5px;
}
.xb2 {
    border-width: 0 2px;
    margin: 0 3px;
}
.xb3 {
    margin: 0 2px;
}
.xb4 {
    height: 2px;
    margin: 0 1px;
}
.titleForgotform {
	color: #3d6400;
	font-size: 14px;
	text-align: center;
	margin-top: 5px;
}

.outLine {
	color: #666666;
    font-size: 13px;
    text-align: left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
    background: none repeat scroll 0 0 #ffffff;
    border-color: #b1d24e;
    border-style: solid;
    border-width: 1px;
    display: block;
	margin: 25px; 
	padding: 5px 10px 5px 10px;
}

.bg_forgot{
	z-index: -9999px;
	background: url(../images/general/layout/bg_forgot.png) no-repeat scroll 0 0 transparent;
	width: 510px;
	height: 284px;
	margin-top: 67px;
	margin-left: 200px;
}

#formForgot {
	z-index:9999;
	color:#000;
	font-size:10px;
	max-width:400px;
	border-color: #80bb09;
	border-style: solid;
    border-width: 2px;
	-webkit-box-shadow: 0px 0px 0px 9px rgba(175, 207, 78, 0.5);
	-moz-box-shadow: 0px 0px 0px 9px rgba(175, 207, 78, 0.5);
	box-shadow: 0px 0px 0px 9px rgba(175, 207, 78, 0.5); 
	margin-left: -40px;
	margin-top: 80px
}
 
#formForgot .forgotHeader {
	height:40px;
	background-color:#aece4f;
	
}
 
/* IE hack */
*html #formForgot .tipHeader {margin-bottom:-6px;}
 
#formForgot .forgotBody {
	background-color:#ffffff;
	padding:5px;
	min-height:180px;
}

 
#formForgot .forgotFooter {
	margin-top: 40px;
	height:60px;
	background-color:#e0f0c1;
}

.form_forgot{
text-align:left;
padding:15px 0 15px 25px;




font-size:13px;
color:#999;
}
.form_forgot label{ 
  float:left;
  width:290px;
  margin-left: 43px;
}
.form_forgot input[type="text"], .form_forgot input[type="password"]{
	width:290px;  
	margin-bottom:10px;
	border:1px solid #d0d0d0;
	padding:3px;
	height:16px;
} 

.bt_forgot {
	-moz-font-feature-settings: normal;
	-moz-font-language-override: normal;
	background: url(../images/general/layout/bt_forgot.png) no-repeat scroll 0 0 transparent;
	border: 0 none;
	color: #FFFFFF;
	float: left;
	font-family: Myriad Pro;
	font-size: 13px;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: 45px;
	margin: 15px 0 0 138px;
	padding: 0px 10px 20px;
	width: 130px;
}
.bt_forgot:hover{ cursor: hand !important; background:transparent url(../images/general/layout/bt_forgot_hover.png) no-repeat;}
.amplop{
	float:left;
	margin-left:-10px;
	margin-right: 10px
}
/* end edited 16Des11 */
	
.no_border{border:0 !important;}    
/* general.end */

/* form edit member by gilangaramadan 25Des11 */

#editForm label {
	float:left;
	width:10em;
	text-align:right;
	margin-top: 5px;
	margin-right:1em;
}
#editForm legend {
	color:#0b77b7;
	font-size:1.2em;
}
#editForm legend span {
	width:10em;
	text-align:right;
}
#editForm input {
	padding: 5px;
	width: 220px;
	height: 30px;
	-moz-border-radius:0.4em;
	-khtml-border-radius:0.4em;
	border: 1px solid #ccc;
	color: #a9a9a9;
	-webkit-box-shadow: inset 0px 0px 1px 1px #e9e9e9;
	-moz-box-shadow: inset 0px 0px 1px 1px #e9e9e9;
	box-shadow: inset 0px 0px 1px 1px #e9e9e9; 
	font-size: 12px;
	padding: 2px 3px;
	display: block;
	margin-bottom: 5px;
}
#editForm input:hover, input:focus, textarea:hover, textarea:focus {
	border-color:#c5c5c5;
	background:#f6f6f6;
} 


#editForm .date fieldset label {
	float:none;
	display:block;
	text-align:left;
	width:auto;
}
#editForm .date fieldset div {
	float:left;
	clear:none;
	margin-right:0.2em;
}
#editForm .radio, .date {
	position:relative;
}
#editForm .radio fieldset, .date fieldset {
	border:none;
	width:auto;
	padding:1px 0 0 11em;
}
#editForm .radio legend, .date legend {
	font-size:1em;
	color:#000;
}
#editForm .radio legend span, .date legend span {
	position:absolute;
	left:0;
	top:0.3em;
	width:10em;
	display:block;
}
#editForm .radio label, .radio input {
	vertical-align:middle;
	display:inline;
	float:left;
	background:none;
	border:none;
	margin-top: 3px;
	width: auto;
}
#editForm .radio div {
	float:left;
	white-space:nowrap;
	clear:none;
}

#editForm input.default {
	color:#bbb;
}
#editForm .checkbox input {
	width:30px;
	margin: 0px;
}
#editForm textarea{
	width: 300px;
	max-width: 300px;
	min-width: 300px;
	height: 100px;
	-moz-border-radius:0.4em;
	-khtml-border-radius:0.4em;
	border: 1px solid #ccc;
	color: #a9a9a9;
	-webkit-box-shadow: inset 0px 0px 1px 1px #e9e9e9;
	-moz-box-shadow: inset 0px 0px 1px 1px #e9e9e9;
	box-shadow: inset 0px 0px 1px 1px #e9e9e9; 
	font-size: 12px;
	padding: 2px 3px;
	display: block;
	margin-bottom: 5px;
}

#editForm .seleksi select{
		background: transparent;
        width: 100px;
        height: 25px;
        overflow: hidden;
        border: 1px solid #ccc;
        padding: 2px 3px;
        color: #a9a9a9;    
        -webkit-box-shadow: inset 1px 1px 1px 1px #e9e9e9;
        -moz-box-shadow: inset 1px 1px 1px 1px #e9e9e9;
        box-shadow: inset 1px 1px 1px 1px #e9e9e9;
		-moz-border-radius:0.4em;
		border-radius:0.4em;
		-khtml-border-radius:0.4em;		
        font-size: 12px;
		margin-left:1px;
		-webkit-appearance: none;
}
#editForm .seleksi{
	background: url(../images/selector_bg.png) no-repeat scroll right top #FFFFFF;
    height: 30px;
    margin-bottom: 5px;
    overflow: hidden;
    width: 80px;
	-moz-border-radius:0.4em;
	border-radius:0.4em;
	-khtml-border-radius:0.4em;
}

.save_change {
	margin-top:1em;
	width:109px;
	height:27px;
	color: #ffffff;
	text-indent:-9999px;
	overflow:hidden;
	border:0;
	background:url(../images/general/btn_save_form.png) no-repeat 0 0;
	display:block;
	cursor:pointer !important; cursor:hand;
}
.save_change:hover {
	background:url(../images/general/btn_save_form_hover.png) no-repeat 0 0;
}

.cancel_change {
	margin-top:1em;
	width:71px;
	height:27px;
	color: #ffffff;
	text-indent:-9999px;
	overflow:hidden;
	border:0;
	background:url(../images/general/btn_form_cancel.png) no-repeat 0 0;
	display:block;
	cursor:pointer !important; cursor:hand;
}
.cancel_change:hover {
	background:url(../images/general/btn_form_cancel_hover.png) no-repeat 0 0;
}

/* end editMember */

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
body {
	background: #f1f9d6;
	color: #333;
	font-size: 11px;
}
a {
	color: #669900;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a, a:focus {
	outline: none;
        border: none;
}

.button-share {
    float: left;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #ececec url(../images/share_bg2.png) repeat-x center;
    margin-top: 2px;
    height: 15px;
}
.button-share a {
    padding: 0 5px;
    border-right: 1px solid #ccc;
}
.button-share a.last {
    border: none;
}
.list_box_large .button-share{
  float:right;
}
.more {
    float: right;
    background: url(../images/more_ico.png) no-repeat right;
    padding-right: 15px;
}
.link a, .link {
    color: #333;
    text-decoration: underline;
}
.uiButton {
    float: right;
    margin-right: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; 
    background-color: #74aa06;
    border: 1px solid #5b8800;
    color: #fff;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
    padding: 3px 5px;
    font-weight: bold;
}
.uiButton img {
    margin-top: 3px;
    vertical-align: top;
    margin-right: 5px;
}
/* ^header */
#header {
    width: 100%;
    background: #b4d64d url(../images/header_bg.png) repeat-x; 
/*    background: -moz-linear-gradient(top,  #b4d64d 0%, #a5c956 100%);  FF3.6+ 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4d64d), color-stop(100%,#a5c956));  Chrome,Safari4+ 
    background: -webkit-linear-gradient(top,  #b4d64d 0%,#a5c956 100%);  Chrome10+,Safari5.1+ 
    background: -o-linear-gradient(top,  #b4d64d 0%,#a5c956 100%);  Opera 11.10+ 
    background: -ms-linear-gradient(top,  #b4d64d 0%,#a5c956 100%);  IE10+ 
    background: linear-gradient(top,  #b4d64d 0%,#a5c956 100%);  W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4d64d', endColorstr='#a5c956',GradientType=0 ); /* IE6-9 */
    height: 50px;
    margin-top: 0px;
    margin-bottom: 30px;
    display: block;
}
    #header .main-header {    
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }
    #header .main-header h1 {
        color: #fff;
        font-weight: normal;
        margin: 0;
        line-height: 28px;
    }
    .logo {
        float: left;
        padding-top: 10px;
    }
    
    /* ^^navigation */
    #nav {
        float: left;
        margin-top: 15px;
        height: 30px;
    }
    #nav ul {
        list-style: none;
        display: inline;
        float: left;
    }
    #nav li {
        display: inline;
        margin-left: 0;
        padding: 0;
    }
    #nav li a {
        color: #fff;
        font-weight: bold;
        font-size: 12px;
        padding: 2px 10px;
    }
    #nav li a:hover, #nav li a.active {
        background-color: #90ae36;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px; 
    }
    #nav form {
        float: left;
        margin-left: 20px;
        border: 1px solid #90aa43;
        background: #fff;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px; 
        margin-top: -3px;
    }
    #nav .text-input {       
        font-size: 12px;
        color: #a0a0a0;
        padding: 2px;
        border: none;
        float: left;
        width: 200px;
        height: 20px;
        -webkit-box-shadow: inset 1px 3px 2px 1px #ececec;
        -moz-box-shadow: inset 1px 3px 2px 1px #ececec;
        box-shadow: inset 1px 3px 2px 1px #ececec; 
    }     
    #nav .submit  {
        background-color: #68950d;
        border: 0 none;
        cursor: pointer;
        width: 29px;
        text-indent: 0;
        white-space: inherit;
        float: left;
    }
    .profile-menu {
             height: 30px;
             margin-top: 15px;
             color: #fff;
             float: right;
         }
         .profile-menu a img {
             margin: 0 5px;
         }
         .profile-menu a {
             color: #fff;
             font-weight: bold;
         }
         .profile-right {
             float: right;
         }
         .profile-dropmenu {
             display: inline;
             width: 240px !important;
         }
         .profile-dropmenu a{
             background: url(../images/white_arrow_ico.png) no-repeat right center;
             padding: 0 15px 0px 0;
             margin-right: 10px;

         }
         div.profile-dropmenu ul{
             float: right;
             position: absolute;
     	 top: -999em;
             margin-top: 0 !important;         
             background-color: #adcd4f;
             border-bottom: 2px solid #90ae36;
             width: 150px !important;   
         }
         div.profile-dropmenu ul li {
     	 width: 100%;
             margin-left: -10px;
             font-weight: normal;
             text-transform: capitalize;  
             color: #fff;
             padding-left: 10px;
             display: block;
             float: left;
     	     position: relative;
             list-style: none !important;
         }
         div.profile-dropmenu:hover {
     	     visibility: inherit; 
         }    
         div.profile-dropmenu li a {
             color: #fff;
             background: none;
             padding: 3px 0;
             margin-left: 10px;
             display: block;
         }
         div.profile-dropmenu:hover ul {	
     	     top: 32px;
     	     z-index: 99;
         }
         div.profile-dropmenu > ul {
             margin-top:5px;
         }
    
    /* end ^^navigation */
    .noti_container {
        position:relative;
        width:14px;
        height:9px;
        margin: 0;
    }
    .noti_bubble {
        position:absolute;
        top: -6px;
        right:2px;
        padding:0px 2px 0px 2px;
        background-color:red;
        color:white;
        font-weight:bold;
        font-size:0.95em;
        box-shadow:1px 1px 1px gray;
        line-height: 12px;
    }
/* end ^header */

#wrapper {
    border: 1px solid #cccccc;
    background: #fff url(../images/wrapper_bg.png) repeat-y;    
}
.mtop50{ float:left; width:100%; display:block; clear:both; height:90px; }
.line_spacer{ width:100%;  }
/* ^left column */
#left-column {    
    border-right: 1px solid #cccccc;   
    background-color: #f3f9de;
}
#sidebar {
    float: left;
    margin: 10px 0px;
    width:100%;
}
#sidebar span {
    display: block;
}
    .profile-picture {
        margin: 0;
        padding: 0;
        width:185px;
    }
    .profile-picture img {
       width:185px;
        border: 2px solid #d4d4d4;
        margin: 0;
    }
    .profiler h2 {
        font-size: 16px;
        margin: 0;
    }
    .profile-link {
        margin-top: 20px;
    }
    
    .profile-link ul {
        list-style: none;
        margin: 0;
    }
    .profile-link li {
        margin: 4px 0;   
        font-size: 11px;
        width:207px;
    }
    .profile-link li a:hover {
        background-color: #b4d64d !important;
    }
    .profile-link li a.info, .profile-link li a.status, .profile-link li a.voice, .profile-link li a.photo, .profile-link li a.video, .profile-link li a.note {
        padding: 1px 0 2px 30px;
        display: block;
        color: #333;
    }
    .profile-picture, .profiler, .profile-link, .list-left{ margin-left:15px; }
    .profile-link li a.info {
        background: url(../images/info_ico.png) no-repeat 4%;        
    }
    .profile-link li a.status {
        background: url(../images/status_ico.png) no-repeat 4%;
    }
    .profile-link li a.voice {
        background: url(../images/voice_ico.png) no-repeat 4%;
    }
    .profile-link li a.photo {
        background: url(../images/photo_ico.png) no-repeat 4%;
    }
    .profile-link li a.video {
        background: url(../images/video_ico.png) no-repeat 4%;
    }
    .profile-link li a.note {
        background: url(../images/note_ico.png) no-repeat 4%; 
    }
    .profile-link .active {
        background-color: #fff !important;
        border-top: 1px solid #cccccc;
        border-bottom: 1px solid #cccccc;
        border-left: 1px solid #cccccc;
        -webkit-border-top-left-radius: 4px 4px;
        -webkit-border-bottom-left-radius: 4px 4px;
        -moz-border-radius-topleft: 4px 4px;
        -moz-border-radius-bottomleft: 4px 4px;
    }
    
    .list-left {
        margin-top: 20px;
        width:193px;
    }
    .list-left h3 {
        font-size: 11px;
        margin: 0;
        text-transform: uppercase;
        padding-bottom: 3px;
        border-bottom: 1px solid #d4dbbc;
    }
    .list-left ul, .list-right ul {
        list-style: none;
        margin-top: 10px;
    }
    .list-left li {
        margin-left: 0;
        padding: 2px 5px;
        width: 100%;
        min-height: 55px;
        margin-bottom: 6px;
    }
    .list-right li {
        margin-left: 0;
        padding: 2px 5px;
        width: 100%;
        min-height: 55px;
        margin-bottom: 6px;
    }
    .list-left li:hover, .list-right li:hover {
        background: #dcded3;
    }
    .list-left .thumb-list, .list-right .thumb-list {
        float: left;
        max-width: 50px;
        max-height: 50px;
        margin-right: 10px;
        margin-top: 4px;
    }
    .list-left h4, .list-right h4 {
        display: block;
        font-size: 12px;
        margin: 0;
    }
    .list-left p.bottom {
        margin: 15px 0 0 0;
    }
    .list-left p.bottom a {
        color: #333;
        text-decoration: underline;
    }
/* end ^left column */

/* Middle column */
#middle-column {
    background: #fff;
    margin-right: -3px;
    overflow: hidden;
}
.share {
    background: #ebebeb url(../images/share_bg_top1.png) repeat-x; 
    height: 49px;
}
    .share .input-share {
        height: 32px;
        margin: 8px;
        border: 1px solid #c8c8c8;
        padding: 0 10px;
        width: 440px;
    }

.head-title {
    padding: 15px;
    border-bottom: 1px solid #ccc;
}
    .head-title h2 {
        margin: 0;
        font-size: 14px;
        font-weight: normal;
        text-transform: uppercase;
        color: #669900;
    }
    .head-title span {
        color: #999999;
        font-weight: bold;
    }
    .head-title span strong {
        padding-right: 20px;
        font-size: 14px;   
        color: #333;
    }
    
#tab {
    margin: 0;
    padding: 0;
}
    #tab ul {
        margin: 0;
        padding-top: 10px;
        list-style: none;
        background-color: #ebeee3;
    }
    #tab li {
        display: inline;
        line-height: 20px;
    }
    #tab li a {
        padding: 5px 30px;
        color: #797979;
    }
    #tab li a:hover, #tab li a.active {
        background-color: #fff;
        -webkit-border-top-left-radius: 4px 4px;
        -webkit-border-top-right-radius: 4px 4px;
        -moz-border-radius-topleft: 4px 4px;
        -moz-border-radius-topright: 4px 4px;
        color: #333;
    }
    #load_tab {
        width: 478px;
        margin-bottom: 20px;
    }
    .tab_content p {
        margin: 20px;
    }
    
#track_list {
    margin: 20px 10px;
    padding: 0;
}
#track_list h2 {
    margin: 0;
    font-size: 11px;
    color: #797979;
    text-transform: uppercase;
} 
    .sort-form {
        padding-bottom: 20px;
        border-bottom: 1px solid #ccc;
    }
    .sort-form label{
        padding-right: 20px !important;
    }
    .sort-form select {
        padding: 3px;
        font-size: 11px !important;
        font-weight: bold !important;
		-webkit-appearance: none;
    }
    .list_box_large {
        float: left;
        margin-top: 15px;;
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;
        width: 100%;
    }
    .list_box {
        float: left;
        margin-top: 15px;;
        padding-bottom: 10px;
        border-bottom: 1px solid #b2b2b2;
        width: 228px;
    }
    .list_box .square {
        width: 220px;
    }
    .list_box_large .thumb-box, .list_box .thumb-box {
        width: 60px;
        height: 62px;
        overflow: hidden;
        float: left;
        margin-top: 5px;
        margin-right: 10px;
    }
    .list_box_large h3, .list_box h3{
        font-size: 12px;
        margin: 0;
    }

    .list_box .thumb-box {
        width: 60px;
        height: 62px;
        overflow: hidden;
        float: left;
        margin-top: 5px;
        margin-right: 10px;
    }
    .list_box h3{
        font-size: 12px;
        margin: 0;
    }
    .list_box span.title{
        display: block;
        margin-bottom: 10px;
    }
    .list_box .pronoun-link {
        float: right;
        display: inline-block;
        margin-top: 5px;
    }
    h2.track-head {
        background: #ebeee3;
        margin: 0;
        font-size: 11px;
        text-transform: uppercase;
        padding: 5px 0 5px 20px;
        color: #797979;
    }    
.new_track {
    margin: 0px 10px;
    padding: 0;
    border-bottom: 25px solid #ccff99;
}

.share_icons{
   float:left;
   display:block;
   clear:both;
   padding:10px;
   width:100%;
   min-height:20px;
   background:#f0f0f0;
   margin-bottom:10px;
   border-bottom:1px solid #e0e0e0;
}
/* end ^middle column */

/* ^right column */
#right-column {
    margin: 0;
    padding: 0;
    border-left: 1px solid #cccccc;   
    background-color: #f3f9de;
}
#right-column span {
    display: block;
}
    .create-form h2 {
        font-size: 11px;
        margin: 0 0 10px 0;
    }
    .create-form {
        margin: 10px;
    }
    .styled-select select {
       background: transparent;
        width: 243px;
        height: 24px;
        overflow: hidden;
        border: 1px solid #ccc;
        padding: 2px 3px;
        color: #a9a9a9;    
        -webkit-box-shadow: inset 1px 1px 1px 1px #e9e9e9;
        -moz-box-shadow: inset 1px 1px 1px 1px #e9e9e9;
        box-shadow: inset 1px 1px 1px 1px #e9e9e9; 
        font-size: 12px;
		-webkit-appearance: none;
    }
    .styled-select {
       width: 220px;
       height: 25px;
       overflow: hidden;
      background: url(../images/selector_bg.png) no-repeat right top #fff;
      margin-bottom: 5px;
    }
    .create-form input[type="checkbox"]{
        border: none;    
        margin-bottom: 15px;
    }
    .create-form .text-input {
        border: 1px solid #ccc;
        color: #a9a9a9;
        -webkit-box-shadow: inset 0px 0px 1px 1px #e9e9e9;
        -moz-box-shadow: inset 0px 0px 1px 1px #e9e9e9;
        box-shadow: inset 0px 0px 1px 1px #e9e9e9; 
        font-size: 12px;
        padding: 2px 3px;
        display: block;
        margin-bottom: 15px;
    }
    .create-form .submit {
        width: 75px;
        height: 24px;
        padding: 2px 0;
        border: none;
        background: url(../images/btn_create_bg.png) no-repeat;
        color: #fff;
        cursor: pointer;
    }
    #submit_email .submit {
        width: 60px;
        height: 20px;
        padding: 2px 0;
        border: none;
        background: url(../images/btn_create_small_bg.png) no-repeat;
        color: #fff;
        cursor: pointer;
        font-size: 11px;
    }
    .sidebar-right {
        margin: 10px;
    }
    .group-page {
        margin-top: 10px;
        padding: 0;
    }
    .group-page span{
        margin-bottom: 10px;
    }
    .group-page img {
        float: left;
        margin-right: 10px;
        max-width: 50px;
        max-height: 50px;
    }
    .friend-page {
        margin-top: 10px;
        padding: 0;
    }
    .friend-page span.pron {
        font-weight: bold;
        margin-bottom: 10px;
    }
    .friend-page span.pron a {
        font-weight: normal;
    }
    .friend-page p{
        margin-bottom: 10px;
    }
    .friend-page ul {
        margin: 0 0 10px 0;
        list-style: none;
    }
    .friend-page li {
        margin: 0 0 5px 0;
    }
    .friend-page li a.google, .friend-page li a.yahoo {
        padding: 1px 0 2px 25px;
        display: block;
        color: #333;
    }
    .friend-page li a.google {
        background: url(../images/google_ico.png) no-repeat left;
    }
    .friend-page li a.yahoo {
        background: url(../images/yahoo_ico.png) no-repeat left;
    }
    .friend-page label{
        display: block;
    }
    .friend-page .text-input {
        border: 1px solid #ccc;
        color: #a9a9a9;
        -webkit-box-shadow: inset 0px 0px 1px 1px #e9e9e9;
        -moz-box-shadow: inset 0px 0px 1px 1px #e9e9e9;
        box-shadow: inset 0px 0px 1px 1px #e9e9e9; 
        font-size: 11px;
        padding: 2px 3px;
    }
    .list-right {
        margin-top: 15px;
    }
    .list-right h3{
        font-size: 11px;
        margin: 0;
        text-transform: uppercase;
    }    
    .list-right .thumb-vid-list {
        float: left;
        max-width: 106px;
        max-height: 80px;
        margin-right: 10px;
        margin-top: 4px;
    }
    .list-right li:after {
      clear: both;
      content: ".";
      display: block;
      font-size: 0;
      height: 0;
      line-height: 0;
      visibility: hidden;
    }
    .styled-select-small select {
       background: transparent;
        width: 201px;
        height: 19px;
        overflow: hidden;
        border: 1px solid #ccc;
        padding: 2px 3px;
        color: #a9a9a9;    
        -webkit-box-shadow: inset 1px 1px 1px 1px #e9e9e9;
        -moz-box-shadow: inset 1px 1px 1px 1px #e9e9e9;
        box-shadow: inset 1px 1px 1px 1px #e9e9e9; 
        font-size: 11px;
        font-style: italic;
		-webkit-appearance: none;
    }
    .styled-select-small {
       width: 180px;
       height: 19px;
       overflow: hidden;
      background: url(../images/selector_bg_small.png) no-repeat right top #fff;
      margin-bottom: 5px;
    }
    .divider {
        border-bottom: 1px solid #ccc;
    }
/* end ^right column */

/* ^pagination */
.pagination {margin-top: 20px;}
    .pagination a {background-color: transparent;
        color: #d37a22;
        float: left;
        margin-right: 3px;
        padding: 2px 5px;
        text-shadow: 1px 1px 1px #ffffff;font-size: 12px;text-decoration: none;}
    .pagination a:hover {background: #73a906;
        color: #ffffff;
        text-shadow: none;font-size: 12px;}
    .pagination span.current {background-color: #fff;
        color: #d37a22;
        text-shadow: none;font-size: 12px;}
    .pagination strong {background: #73a906;
        color: #fff;
        float: left;
        margin-right: 3px;
        padding: 2px 5px;
        font-size: 12px;}
    .pagination .first, .pagination .last {
        font-weight: bold;
    }
    .pagination .first {
        float: left;
        margin-right: 20px;
        padding-left: 10px;
        background: url(../images/icon/arrow_orange_left.png) no-repeat left;
    }
    .pagination .last {
        float: right;
        margin-left: 20px;
        padding-right: 10px;
        background: url(../images/icon/arrow_orange_right.png) no-repeat right;
    }
/* end ^pagination */

/* fans */
.cb_fans_list{
  margin-left:48px;
  clear:both;
}
.gender_fans_list{
  margin-top:4px;
  width:50px;
  float:left;
}
.age_fans_list{
  margin-left:20px;
}
.age_to_fans_list{
  margin:0 10px;
}
/* fans.end */

/* CMS */
#cms_admin{
    margin:20px auto;
    width:960px;
    min-height:300px;
    background:#fff;
    padding:10px;
    border-radius:3px;
    font-family:arial;
}    
  #cms_l, #cms_r{
    float:left;
  }
  #cms_l{
    width:200px;
    min-height:100px;
    background:#f0f0f0;
    border-radius:3px;
  }
  #cms_r{
    width:77%;
    margin-left:10px;
  }
  #cms_l ul{  margin:0; padding:0; }
  #cms_l ul li{ 
    padding:0;
    list-style-type:none; margin:0 0 0 5px;
  }
  #cms_l ul li a{ 
    font-size:12px;
    float:left;
    color:#444; 
    width:155px;
    padding:8px 15px 5px 15px;
    border-bottom:1px solid #e0e0e0;
  }
.top_bar{
    float:left;
    clear:both;
    border-bottom:1px solid #e0e0e0;
    width:100%;
    color:#444;
    margin-bottom:10px;
    padding:3px 0 5px 0;
  }
    .top_bar a{
      color:#777;
    }
    .top_bar a:hover{
      color:#444;
    }
    .top_bar h2{
      float:left;
      margin:0;
      padding:0;
      font-weight:normal;
      font-size:16px;
      color:#222;
    }
  #cms_content{
    float:left;
    display:block;
    clear:both;
    width:100%;
    margin-left:10px;
  }
.logout{
  float:right;
  font-style:italic;
  font-size:12px;
}
a.logout{
  color:#f00;
  text-shadow:1px 1px 1px #fff;
}
.error,
#notice, 
#success{
  float:left;
  width:95%;
  margin-bottom: 10px;
  padding: .5em; border: 1px solid #ddd; text-align:center;
  -moz-border-radius: 3px; 
  -webkit-border-radius: 3px;
}

.error      { background: #FBE3E4; color: #8a1f11; border-color: #FBC2C4; }
#notice     { background: #FFF6BF; color: #514721; border-color: #FFD324; }
#success    { background: #cde95f; color: #264409; border-color: #a9ba67; }
.error a    { color: #8a1f11; }
#notice a   { color: #514721; }
#success a  { color: #264409; }   

table.list_song{
  width:100%;
} 
  table.list_song th{
    text-align:left; 
  }
  table.list_song th.w270{
    width:270px;
  }
  .list_song tr.odd{
    background:#f0f0f0;
  }
  .list_song td{
    padding:3px 3px 4px 3px;
    margin:0;
    border:0;
  }
  .list_song tr:hover{
    background:#dafaa8;
  }
.form_add{
  background:#f0f0f0;
  padding:10px;
  width:580px;
  margin:10px 0;
} 
  .form_add input[type="text"]{
    width:295px;
  }
  .form_add textarea{
    width:300px;
    height:50px;
  }
  .form_add tr td:first-child{
    width:100px;
    text-align:right;
    padding-right:10px;
  }
  .form_add h3{
    margin:0;
    padding:0;
  }
/* CMS.end */

.clear{
   display:block;
   clear:both;
}
.lbl_total_play{
  float:right;
  clear:right;
  margin-top:5px;
}

/* member profile */
  /* share input */
  .icon{
    float:left;
    text-indent:-9999px;
    width:16px;
    height:16px;
  }
    .status{
      background:url(../images/icon/icon_status.png) no-repeat;
    }
  .share_icons ul.share_links{
    float:left;
    margin:0;
    padding:0;
  }
    .share_icons ul.share_links li{
      float:left;
      list-style-type:none;
      margin:0 15px 0 0;
      padding:0;
    }
    ul.share_links li img.active{
      box-shadow:2px 1px 1px #000;
    }
    .status_ttl{
      float:left;
      width:50px;
    }
    .share_photo_link, .share_voice_link, .btn_check_sound, .share_video_link, .share_note_link{
      display:none;
    }
    .temp_share{
      display:none;
      padding:10px;
    }
    .btn_cs, .share_submit{
      margin:-5px 0 0 155px;
    }
    .btn_submit, .share_submit{
      width:66px;
      height:26px;
      text-indent:-999px;
      background: url(../images/general/btn_submit.png) no-repeat right top;
      border:0;
    }
    .share_submit{
        float:right;
        margin-right: 20px;
    }
    
    .btn_submit:hover{
      cursor:pointer;
      cursor:hand;
    }
    .video_link{
      width:380px;
    }
    .form_note{
      position:absolute;
      background:#fff;
      width:440px;
      padding:10px;
      box-shadow:1px 3px 3px #000;
      margin-top:50px;
      z-index: 100;
    }
    .form_note textarea{
      width:440px;
      height:200px;
    }
    #overlay{
      float:left;
      position:absolute;
      background:rgba(0, 0, 0, 0.5);
      width:480px;
      height:460px;
      margin-top:50px;
      z-index: 99;
    }
  /* share input.end */
  
  /* message */
  .mssg_control{
     margin:-5px 0 8px 0;
     float:left;
     width:100%;
     display:block;
     clear:both;
  }
   .mssg_control a img, .mssg_control .pad_ctr{
      float:left;
      margin:0 3px;
   }
   .mssg_control .pad_ctr{ width:16px; }
table.mssg_list{
   width:100%;
}
   table.mssg_list tr:hover{
      background:#ffffcc;
   }
   table.mssg_list tr td{ vertical-align:top; padding:4px 1px 0 1px}
   table.mssg_list tr th{ 
      background:#f1f9d6; margin:0 0 5px 0; padding:3px 1px; text-align:left; 
      border-bottom:1px solid #e0e0e0;
   }
   table.mssg_list .sender_img{ width:60px; }
   table.mssg_list .time_sent{
      float:right;
      margin-right: 10px;
   }
   table.mssg_list tr.first_line{
      margin-bottom:10px;
   }
   table.mssg_list .sel_all{
      font-weight:normal; color:#669900;
   }
.mssg_main_action{ margin-left:80px}
   .mssg_main_action a{
      margin-left:20px;
      color:#888; font-weight:normal;
   }
.mssg_more{
   color:#888;
}   
ul.pagination_r{
   float:right;
   margin:0;
   padding:0;
}
   ul.pagination_r li{ 
      float:left;
      margin:0;
      padding:0;
      list-style-type:none;
   }
   ul.pagination_r li a{
      padding:3px 4px;
   } 
   ul.pagination_r li a:hover{
      background:#c0c0c0;
      color:#fff;
   }
  /* message.end */
/* member profile.end */


/* yohan codes */


/* status update */
.share_box{
    display:none;
}
.remove{
    color: #666;
    cursor: pointer;
}
.btn-more{
    cursor: pointer;
    background-color: #adcd4f;
    border:1px solid #5b8800;
    text-align: center;
    clear:both;
    padding: 5px;
}
.status-list .author{
    width:70px;
    float:left;
}
.status-list .author-name{
    text-align: center;
}
.status-list .status-id,.author-id{display: none;}
.status-list li{
    clear:both;
    list-style: none;
    margin:20px 10px;
    padding: 10px 0;
    border-bottom: 1px solid #CCC;
}
.status-list .status-content{
    margin-left: 80px;
}
.wysiwyg-input { 
    width: 400px; 
    height: 250px;
    z-index: 1000;
}

#audio-record{
    background: transparent url(../images/audio-bg.png) no-repeat;
    position: relative;
    height: 31px;
    display: none;
}
.btn-audio-record{
    display: block;
    margin:5px 10px;
    width: 19px;
    height: 19px;
    float: left;
    cursor: pointer;
    background: transparent url(../images/audio-btn-record-stop.png) no-repeat;
}
.recording{
    background: transparent url(../images/audio-btn-record.png) no-repeat;
}

.audio-level-off{
    width: 360px;
    background: transparent url(../images/audio-level-off.png) repeat-x;
    position: absolute;
    top:10px;
    left: 45px;
    height: 13px;
}
.audio-level-on{
    height: 13px;
    width: 0;
    background: transparent url(../images/audio-level-on.png) repeat-x;
}

.audio-time{
    position: absolute;
    right: 30px;
    top:7px;
    color: #FFF;
    font-size: 1.1em;
}

.upload_photo,.create_album{
    cursor:pointer;
}
.share_photo_box{
    position: relative;
    width: 480px;
}
.share_photo_box .input{
    padding: 5px;
}
.share_photo_box .row{
    margin-bottom: 10px;
}
.share_photo_box label{
    display: inline-block;
    width: 70px;
    vertical-align: top;
}
.box_create_album,.box_upload_photo{
    position: absolute;
    z-index: 100;
    background-color: #FFF;
    display: none;
    width: 70%;
    border: 1px solid #CCC;
}
.box_create_album{
    right: 35px;
}

.box_upload_photo{
    left:0;
}

.share_photo_box h4{
    padding: 5px;
    background-color: #d2f56e;
    color: #FFF;
    font-size:1em;
}
.share_photo_box .btn_close{
    position: absolute;
    right: 5px;
    top:6px;
    cursor: pointer;
}
.share_photo_box .action{
    padding: 5px;
    background-color: #e0f0c1;
}
.share_photo_box .action .button{
    display: inline-block;
    text-align: center;
    width: 97px;
    height: 26px;
    line-height: 26px;
    border: none;
    color: #FFF;
    background: transparent url(../images/button-orange.gif) no-repeat;
}
.status-photo img{
    width: 90%;
}
.share_status{
    
}
.share_voice{
    
}
.share_photo{
    
}
.share_movie{
    
}
.share_note{
    
}

.share_status {
    
}
.share_voice{
    
}
.share_photo{
    
}
.share_movie{
    
}
.share_note{
    
}
/* end status update */

/*Update by Nope*/
.login-home{
    background: none repeat scroll 0 0 #666666;
    border: medium none;
    color: #FFFFFF;
	height: 20px;
	float: right;
}
.home-title{

}
.home-title h3{
	color: #666;
	font: 12pt Myriad Pro;
	margin: 0;
	padding: 0;
}
.home-title h1{
	color: #a0d23d;
	font: bold 24pt Myriad Pro;
}
a .home-twitter{
	background: url(../images/general/twitter.png) no-repeat;
	width: 86px; height: 23px;
	margin-top: 4px;float:left;
}
a .home-twitter:hover{
	background: url(../images/general/twitter-hover.png) no-repeat;
	width: 86px; height: 23px;
	margin-top: 4px;float:left;
}
.tit{
    color: #FFFFFF;
    float: left;
    font: 10pt Myriad Pro;
    margin-right: 5px;
    margin-top: 7px;
}
a .home-facebook{
	background: url(../images/general/facebook.png) no-repeat;
	width: 86px; height: 23px;
	margin-top: 4px;float:left;
	margin-right:5px;
}
a .home-facebook:hover{
	background: url(../images/general/facebook-hover.png) no-repeat;
	width: 86px; height: 23px;
	margin-top: 4px;float:left;
}

.image-selector .frame img, .frame-preview img{
   max-width:150px;
}

/* 15 Dec 2011. */
/* Photo. */
.page_title_main{
   margin:0 0 0 10px;
   padding:5px 0 0 0;
}
   /*album list */
   #album-list{
   	margin: 12px 7px;
   }
   ul.album{
   	width:140px;
   	padding: 7px;
       list-style: none;
   	float:left;
   	display: block;
   	margin-bottom: 5px;
   }
   ul.album li.thumb{
       margin: 0;
   	width:136px;
   	height:86px;
   	background-color: #dcdcdc;
   	border:2px solid #cccccc;
   }
   ul.album li.thumb img{
   	width:100%;
   	height:100%;
   }
   ul.album li.title h2, ul.album li.resume{
       margin: 0;
   	width:136px;
   	float:right;
   	font-size: 9pt;
   	font-weight: normal;
   	word-wrap:break-word;
   }
   ul.album li.title h2{
    	color: #669900;
   }
   /* photo list of album */
   .photo-share, .back{
   	padding: 7px 17px;
   	color: #669900;
   	font-weight:bold;
   }
   .photo-share{border-bottom: 1px solid #ccc;}
   .photo-share a, .back a{text-decoration:none;}
   .photo-title H2{
   	margin: 7px 17px;
   	font-size: 10pt;
   	font-weight: normal;
   	text-transform: uppercase;
   	font-weight:bold;
   	color:#6b6b6b
   }
   ul#photo-list{
   	width:100%;
   	padding: 0 7px;
   	list-style: none;		
   }
   ul#photo-list li.thumb{
   	width:140px;
   	height:90px;
   	margin: 10px 5px;
   	float:left;
   	display: inline-block;
   	background-color: #dcdcdc;
   	border:2px solid #cccccc;
   }
   ul#photo-list li.thumb img{
   	width:100%;
   	height:100%;
   }
.photo_share{
   padding:5px;
   font-size:14px;
   width:100%;
   display:block;
   border-bottom:1px solid #e0e0e0;
}
   .back_green{
      margin-left:10px;
      font-size:14px;
   }
   .ttl_photo_detail{
      font-size:16px;
      font-weight:normal;
      margin:0 0 15px 10px;
   }
/* Photo.end */   
/* Profile Info */
#fans-of{
	padding: 7px 17px 0 17px;
	font-style:italic;
}
.profile-title{
	padding: 7px 17px;
	border-bottom: 1px solid #ccc;
	margin:18px 0;
}
.profile-title h2 {
	margin: 0;
	font-size: 10pt;
	font-weight: normal;
	text-transform: uppercase;
	color: #669900;
}
.profile-title span {
	color: #999999;
	font-weight: bold;
}
.profile-title span strong {
	padding-right: 20px;
	font-size: 14px;   
	color: #333;
}
.profile-row{
	display: inline-table;
	margin: 0;
	font-size:9pt;
	margin: 7px 17px 0 17px;
	line-height:11pt;
}
.profile-row label{
	display:inline-block;
	margin-right:30px;
	width:110px !important;
}
.profile-row .data{
	display:inline-block;
	float:right;
	width:280px;
	padding-left:10px;
}
.profile_name_title{
   margin:30px 0 6px 10px ;
   font-size:13px;
   font-weight:normal;
}
/* Profile Info.end */
/* 15 Dec 2011.end */

/* style commentwall by gilangaramadan 02Jan12 */
#commentwall {
	background: #F3F9DF;
	margin: -15px 0 0 80px;
	padding: 10px;
	min-height: 75px;
}

#commentwall textarea{
	width: 350px;
	max-width: 350px;
	min-width: 350px;
	
	height: 25px;
	min-height: 25px;
	max-height: 80px;
	border: 1px solid #ccc;
	color: #666666;
	-webkit-box-shadow: inset 0px 0px 1px 1px #e9e9e9;
	-moz-box-shadow: inset 0px 0px 1px 1px #e9e9e9;
	box-shadow: inset 0px 0px 1px 1px #e9e9e9; 
	font-size: 12px;
	padding: 2px 3px;
	display: block;
	margin-bottom: 5px;
}

#commentwall .submit{
	width: 60px;
    height: 20px;
    padding: 2px 0;
    border: none;
    background: url(../images/btn_create_small_bg.png) no-repeat;
    color: #fff;
    cursor: pointer;
    font-size: 11px;
	margin-left: 298px;
}
/* ^zy. 3jan */
#commentwall ul, #commentwall ul li{
	margin:0;
	padding:0;
	border-bottom:1px solid #e0e0e0;
} 
/* ^zy.end 3jan */ 
/* end style commentwall */

/* login form awal general by gilangaramadan 02Jan12 */
.input-text {       
        font-size: 12px;
        color: #a0a0a0;
        padding: 2px;
        border: none;
        width: 113px;
        height: 16px;
        -webkit-box-shadow: inset 1px 3px 2px 1px #ececec;
        -moz-box-shadow: inset 1px 3px 2px 1px #ececec;
        box-shadow: inset 1px 3px 2px 1px #ececec; 
}
.close_wall {
	cursor: pointer; 
} 